# Raw Data

In [127]:
import pandas as pd
import numpy as np

# Load raw_data sheet from data.xlsx file
df = pd.read_excel('data.xlsx', sheet_name='raw_data')

df.head()

,Country Name,"Agriculture, forestry, and fishing, value added (% of GDP)",Births attended by skilled health staff (% of total),CO2 emissions (metric tons per capita),"Foreign direct investment, net inflows (BoP, current US$)",GDP (current US$),GDP growth (annual %),"GNI per capita, Atlas method (current US$)","Industry (including construction), value added (% of GDP)","Life expectancy at birth, total (years)",Population growth (annual %),"Poverty headcount ratio at $2,15 a day (2017 PPP) (% of population)","Revenue, excluding grants (% of GDP)",Time required to start a business (days)
0,Algeria,11.896481,21.711111,3.007712,1.365376e+09,1.749342e+11,2.562500,4402.222222,37.676550,75.576889,1.892119,0.000000,0.000000,14.666667
1,Argentina,5.837215,87.377778,3.204716,7.921553e+09,5.243996e+11,4.588309,11755.555556,23.101116,76.523556,1.035293,0.666667,19.846545,16.111111
2,Australia,2.320361,77.033333,12.292316,4.394122e+10,1.403075e+12,2.451737,57342.222222,24.518168,82.660705,1.357655,0.166667,25.117536,1.888889
3,Austria,1.154085,87.466667,5.725834,7.002187e+09,4.314502e+11,1.806114,49068.888889,25.457618,81.457995,0.672281,0.455556,44.199627,17.000000
4,Bahrain,0.297562,77.588889,17.092581,1.163688e+09,3.497043e+10,3.325642,20694.444444,42.788784,79.448333,2.838455,0.000000,0.000000,6.811111

# Normalized data

the method used to normalize values : min max

value = (value - min) / (max - min)

A total of 12 metrics, 10 metrics should be maximize, and 2 minimized

in order to normalize the values in the matrix that should be maximized : value = 1 - [(value - min) / (max - min)]

In [128]:
# Load normalized_data sheet from data.xlsx file



normalized_df = pd.read_excel('data.xlsx', sheet_name='normalized_data')

normalized_df.head()

,Country Name,"Agriculture, forestry, and fishing, value added (% of GDP)",Births attended by skilled health staff (% of total),CO2 emissions (metric tons per capita)(MAX),"Foreign direct investment, net inflows (BoP, current US$)",GDP (current US$),GDP growth (annual %),"GNI per capita, Atlas method (current US$)","Industry (including construction), value added (% of GDP)","Life expectancy at birth, total (years)",Population growth (annual %),"Poverty headcount ratio at $2,15 a day MAX","Revenue, excluding grants",Time required to start a business (days)
0,Algeria,0.709224,0.146982,0.916817,0.002728,0.008210,0.216477,0.030573,0.544319,0.569408,0.442939,1.000000,0.000000,0.711727
1,Argentina,0.347001,0.983038,0.909153,0.022206,0.025985,0.542867,0.116965,0.244504,0.617566,0.311875,0.915849,0.422798,0.683337
2,Australia,0.136764,0.851335,0.555634,0.129220,0.070679,0.198631,0.652551,0.273653,0.929770,0.361185,0.978962,0.535088,0.962874
3,Austria,0.067044,0.984170,0.811079,0.019475,0.021257,0.094611,0.555350,0.292977,0.868587,0.256347,0.942496,0.941600,0.665866
4,Bahrain,0.015842,0.858408,0.368897,0.002129,0.001091,0.339431,0.221986,0.649477,0.766353,0.587695,1.000000,0.000000,0.866128

# Ordered Weighted Averages Operator

### the weights given by the decision maker : 

w = (0.05, 0.03, 0.05, 0.05, 0.009, 0.09, 0.1, 0.14, 0.03, 0.02, 0.04, 0.06, 0.091, 0.04, 0.02, 0.18)

In [129]:
weights = np.array([0.05, 0.13, 0.08, 0.05, 0.09, 0.07, 0.04, 0.05, 0.06, 0.05, 0.08, 0.04, 0.05, 0.16])


print("The sum of all the weights : ", end='')
print(sum(weights))

The sum of all the weights : 1.0000000000000002

### Calcul des scores

In [130]:

data_set = normalized_df.to_numpy()

# array to store the calculated weighted values
averages = np.zeros(data_set.shape[0])

# calcul
for i in range(len(data_set)):
    res = 0
    temp = np.zeros(data_set.shape[1])
    for j in range(1, data_set.shape[1]):
        temp[j] = data_set[i][j]
    sorted_temp = np.sort(temp)[::-1] # sort the array
    res = np.dot(sorted_temp, weights)
    averages[i]= res

## Ranking of the countries

In [131]:
ranking = list()

temp_averages = averages
max_index = np.argmax(temp_averages)
ranking.append(max_index)

for i in range(len(data_set)-1):
    temp_averages[max_index] = -9999
    max_index = np.argmax(temp_averages)
    ranking.append(max_index)

for i in range(len(ranking)):
    print(f'Choice number {i+1} : {data_set[ranking[i]][0].upper()}')

Choice number 1 : NORWAY
Choice number 2 : UNITED STATES
Choice number 3 : NETHERLANDS
Choice number 4 : SINGAPORE
Choice number 5 : SWITZERLAND
Choice number 6 : QATAR
Choice number 7 : CHINA
Choice number 8 : FRANCE
Choice number 9 : UNITED KINGDOM
Choice number 10 : SWEDEN
Choice number 11 : LUXEMBOURG
Choice number 12 : JAPAN
Choice number 13 : FINLAND
Choice number 14 : BELGIUM
Choice number 15 : PORTUGAL
Choice number 16 : AUSTRIA
Choice number 17 : AUSTRALIA
Choice number 18 : DENMARK
Choice number 19 : ITALY
Choice number 20 : TURKIYE
Choice number 21 : ISRAEL
Choice number 22 : GERMANY
Choice number 23 : URUGUAY
Choice number 24 : CANADA
Choice number 25 : ARGENTINA
Choice number 26 : GREECE
Choice number 27 : SPAIN
Choice number 28 : CROATIA
Choice number 29 : SAUDI ARABIA
Choice number 30 : BAHRAIN
Choice number 31 : KOREA, REP,
Choice number 32 : BRAZIL
Choice number 33 : KUWAIT
Choice number 34 : PERU
Choice number 35 : MALTA
Choice number 36 : UNITED ARAB EMIRATES
Choice number 37 : MEXICO
Choice number 38 : INDIA
Choice number 39 : PARAGUAY
Choice number 40 : ALGERIA
Choice number 41 : EGYPT, ARAB REP,
Choice number 42 : CUBA
Choice number 43 : INDONESIA
Choice number 44 : TUNISIA
Choice number 45 : BULGARIA
Choice number 46 : SOUTH AFRICA