# Raw Data

In [13]:
import pandas as pd
import numpy as np

# Load raw_data sheet from data.xlsx file
df = pd.read_excel('data.xlsx', sheet_name='raw_data')

df.head()

,Country Name,"Agriculture, forestry, and fishing, value added (% of GDP)",Births attended by skilled health staff (% of total),CO2 emissions (metric tons per capita),"Foreign direct investment, net inflows (BoP, current US$)",GDP (current US$),GDP growth (annual %),"GNI per capita, Atlas method (current US$)","Industry (including construction), value added (% of GDP)","Life expectancy at birth, total (years)",Population growth (annual %),"Poverty headcount ratio at $2,15 a day (2017 PPP) (% of population)","Revenue, excluding grants (% of GDP)",Time required to start a business (days)
0,Algeria,11.896481,21.711111,3.007712,1.365376e+09,1.749342e+11,2.562500,4402.222222,37.676550,75.576889,1.892119,0.000000,0.000000,14.666667
1,Argentina,5.837215,87.377778,3.204716,7.921553e+09,5.243996e+11,4.588309,11755.555556,23.101116,76.523556,1.035293,0.666667,19.846545,16.111111
2,Australia,2.320361,77.033333,12.292316,4.394122e+10,1.403075e+12,2.451737,57342.222222,24.518168,82.660705,1.357655,0.166667,25.117536,1.888889
3,Austria,1.154085,87.466667,5.725834,7.002187e+09,4.314502e+11,1.806114,49068.888889,25.457618,81.457995,0.672281,0.455556,44.199627,17.000000
4,Bahrain,0.297562,77.588889,17.092581,1.163688e+09,3.497043e+10,3.325642,20694.444444,42.788784,79.448333,2.838455,0.000000,0.000000,6.811111

# Normalized data

the method used to normalize values : min max

value = (value - min) / (max - min)

In [14]:
# Load normalized_data sheet from data.xlsx file



normalized_df = pd.read_excel('data.xlsx', sheet_name='normalized_data')

normalized_df.head()

,Country Name,"Agriculture, forestry, and fishing, value added (% of GDP)",Births attended by skilled health staff (% of total),CO2 emissions (metric tons per capita),"Foreign direct investment, net inflows (BoP, current US$)",GDP (current US$),GDP growth (annual %),"GNI per capita, Atlas method (current US$)","Industry (including construction), value added (% of GDP)","Life expectancy at birth, total (years)",Population growth (annual %),"Poverty headcount ratio at $2,15 a day","Revenue, excluding grants",Time required to start a business (days)
0,Algeria,0.709224,0.146982,0.083183,0.002728,0.008210,0.216477,0.030573,0.544319,0.569408,0.442939,0.000000,0.000000,0.288273
1,Argentina,0.347001,0.983038,0.090847,0.022206,0.025985,0.542867,0.116965,0.244504,0.617566,0.311875,0.084151,0.422798,0.316663
2,Australia,0.136764,0.851335,0.444366,0.129220,0.070679,0.198631,0.652551,0.273653,0.929770,0.361185,0.021038,0.535088,0.037126
3,Austria,0.067044,0.984170,0.188921,0.019475,0.021257,0.094611,0.555350,0.292977,0.868587,0.256347,0.057504,0.941600,0.334134
4,Bahrain,0.015842,0.858408,0.631103,0.002129,0.001091,0.339431,0.221986,0.649477,0.766353,0.587695,0.000000,0.000000,0.133872

# Ordered Weighted Averages Operator

### the weights given by the decision maker : 

w = (0.03, 0.03, 0.07, 0.05, 0.009, 0.09, 0.12, 0.12, 0.03, 0.02, 0.04, 0.06, 0.091, 0.04, 0.02, 0.18)

In [19]:
weights = np.array([0.03, 0.03, 0.07, 0.05, 0.009, 0.09, 0.12, 0.12, 0.03, 0.02, 0.04, 0.06, 0.091, 0.04, 0.02, 0.18])


print("The sum of all the weights : ", end='')
print(sum(weights))

The sum of all the weights : 1.0

### Calcul des scores

In [18]:

data_set = normalized_df.to_numpy()


# array to store the calculated weighted values
averages = np.zeros(data_set.shape[0])


# calcul
for i in range(1, len(data_set)):
    res = 0
    for j in range(1, data_set.shape[1]-1):
        res += data_set[i][j] * weights[j-1]
    averages[i-1]= res

(46, 14)
46
['Qatar' 0.010397690796889847 0.7190652010921077 1.0 0.0015466363543368952
 0.008144198378465133 0.3170784143929771 0.7931309070022453 1.0
 0.798808620153893 1.0 0.0 0.0 0.14391788600131034]